<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
    <!--设置别名-->
    <typeAliases>
        <!--name:实体类所在包名(不是实体类的包名也行)-->
        <package name="com.huzi.domain"/>
    </typeAliases>

    <!--sql mapper文件的位置-->
    <mappers>
        <!--使用package的要求，mapper文件名和dao接口名必须完全一样，必须在同一目录；name属性是包名，这个包中所有的mapper.xml一次性都能加载-->
        <package name="com.huzi.dao"/>
    </mappers>
</configuration>